body{
  height: 3500px;
  padding-top: 0px;
  margin-top: 0px;
  background-color: var(--tertiary-color);
}

.part1{
  background-color: var(--tertiary-color);
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10%;
}

.main-text{
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
}

.border-bkg{
  padding: 50px;
  width: 100%;
  height: 50%;
  margin-left: 25%;
}

.faded{
  letter-spacing: 3px;
  color: var(--primary-color);
  font-size: 16px;
  padding-bottom: 5%;
}

.m-text{
  color: var(--secondary-color);
  font-size: clamp(50px, 8vw, 100px);
  text-transform: uppercase;
  line-height: 1em;
  font-family: Poppins;
  font-weight: 600;
  letter-spacing: 5px;
}

.mp-text{
  padding-top: 5%;
  color: var(--secondary-color);
  font-size: clamp(12px, 1vw, 24px);
  line-height: 1.5em;
  font-family: Poppins;
  font-weight: 300;
}

.heading-btns{
  padding-top: 25%;
  display: flex;
  width: 85%;
  justify-content: space-between;

}

.heading-btn1{
  font-size: clamp(16px, 1.2vw, 24px);
  border: 1px solid var(--fourth-color);
  padding: 2% 5%;
  border-radius: 28px;
  background-color: var(--fourth-color);
  color: var(--secondary-color);
  transition: all 0.5s ease;
  cursor: pointer;
}

.heading-btn1:hover{
  color: var(--tertiary-color);
}

.heading-btn2{
  font-size: clamp(16px, 1.2vw, 24px);
  border: 1px solid var(--secondary-color);
  padding: 2% 5%;
  border-radius: 28px;
  background-color: transparent;
  color: var(--secondary-color);
  transition: all 0.5s ease;
  cursor: pointer;
}

.heading-btn2:hover{
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: var(--tertiary-color)
}

.hero-img{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.hero-box img:hover{
  transform: scale(1.1,1.1);
}

.hero-box{
  margin-top: 15%;
  width: 80%;
  height: 60%;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}

.hero-box img{
  width: 100%;
  height: 100%;
  border-radius: 16px;
  filter:brightness(80%);
  transition: all 0.5s ease;
}

.text-box{
  position: absolute;
  width: 100%;
  height: 30%;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  top: 70%;

  background: #0e15142a;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.315);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.text-box h1{
  padding-left: 5%;
  padding-bottom: 2%;
  color: var(--tertiary-color);
}

.text-box p{
  padding-left: 5%;
  color: var(--tertiary-color);
}

@media (max-width: 768px){

  .part1{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 350%;
  }

  .border-bkg{
    width: 90%;
  }

  .heading-btns{
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .heading-btn1{

    margin-bottom: 5%;
    text-align: center;
  }
  
  .heading-btn2{
    margin-bottom: 5%;
    text-align: center;
  }

  .part1{
    width: 100%;
    flex-direction: column;
    gap: 1%;
  }

  .hero-img{
    width: 100%;
    height: 50%;
  
  }

  .main-text{
    height: 50%;
    width: 100%;
    padding-left: 0;
  }

  .hero-box{
    margin-top: 0%;
    width: 80%;
    height: 80%;
    border-radius: 16px;
    position: relative;
    margin-left: 10%;
  }

  .border-bkg{
    padding: 50px;
    width: 100%;
    height: 100%;
    margin-left: 0%;
    margin-top: 15%;
  }

  .heading-btns{
    padding-top: 5%;
  
  }

  .text-box{
    height: 50%;
    top: 50%;
  }
}

/*-------------------- FACT HOLDER ----------------------*/

.fact-holder{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 5%;
}

.fact-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  margin: 0 5%;
}

.fact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.fact img{
  width: 68%;
  transition: all 0.3s ease-in-out;
}

.fact img:hover{
  filter: hue-rotate(30deg);
  transform: scale(1.01,1.01);
}

.fact h1{
  padding-top: 5%;
}

.fact p{
  padding-top: 3%;
  text-align: center;
}

/*----------------- PART 3 -------------------*/

.part3{
  padding-left: 4%;
}

.local-textbox{
  margin-top: 5%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.253);
  margin-right: 4%;
}

.local-textbox h1{
  font-size: 3rem;
}

.local-textbox p{
  letter-spacing: 3px;
  color: rgba(0, 0, 0, 0.411);
}

.local-impacts-container{
  margin-top: 3%;
}

.local-impact{
  display: flex;
  padding-bottom: 5%;
}

.impact{
  display: flex;
  flex-direction: column;
  width: 50%;

  padding-right: 4%;
}

.scale{
  width: 100%;
  overflow: hidden;
}

.faded3{
  padding-top: 2%;
  letter-spacing: 3px;
  color: var(--fourth-color);
}

.impact-title{
  font-size: 2.2rem;
  padding-top: 1%;
  margin: 0px;
}

.impact-text{
  font-size: 1.2rem;
  margin: 0px;
  padding-top: 1%;
}

.img-bkg{
  background-image: url("../pictures/pexels-arnie-chou-304906-1109556.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 400px;
  width: 100%;
  transition: all 0.2s ease;
}

.img-bkg:hover{
  transform: scale(1.1,1.1);
}

.img-bkg2{
  background-image: url("../pictures/pexels-engin-akyurt-1463917.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 400px;
  width: 100%;
  transition: all 0.2s ease;
}

.img-bkg2:hover{
  transform: scale(1.1,1.1);
}

.img-bkg3{
  background-image: url("../pictures/pexels-kindel-media-9800009.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 400px;
  width: 100%;
  transition: all 0.2s ease;
}

.img-bkg3:hover{
  transform: scale(1.1,1.1);
}

.img-bkg4{
  background-image: url("../pictures/pexels-hong-son-4335591.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 400px;
  width: 100%;
  transition: all 0.2s ease;
}

.img-bkg4:hover{
  transform: scale(1.1,1.1);
}

@media (max-width: 1068px){
  .local-impact{
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
  }

  .impact{
    display: flex;
    flex-direction: column;
    width: 100%;
  
    padding-right: 5%;
    padding-bottom: 5%;
  }
  
  .scale{
    width: 100%;
    overflow: hidden;
  }
}


/* ------------- part 4 --------------------*/

.line{
  height: 2px;
  background-color: #92d0a9;
  width: 90%;
  margin-left: 5%;

  margin-bottom: 4%;
}

.carnival-title{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.carnival-title h1{
  font-size: clamp(20px, 3rem, 40px);
  padding-bottom: 1%;
}

.carnival-title p{
  font-size: 1.2rem;
  color: var(--primary-color);
  padding-bottom: 3%;
}

@media (max-width: 1068px){
  .carnival-title{
    padding-left: 5%;
  }

  .carnival-title p{
    padding-bottom: 10%;
  }
}

/* -------------------- CAROUSEL ---------------- */

.carousel{
  position: relative;
  height: 600px;
  width: 80%;
  margin: 0 auto;
}

.carousel-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-track-container{
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel-track{
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  border-radius: 15px;
  background-color: var(--secondary-color);
}

.carousel-slide:nth-child(1){
  background-image: url("../pictures/pexels-pixabay-301417.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-slide:nth-child(2){
  background-image: url("../pictures/pexels-mali-maeder-802221.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-slide:nth-child(3){
  background-image: url("../pictures/pexels-singkham-1108572.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.carousel-button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: 0;
  cursor: pointer;

}

.button--left{
  left: -100px;
}

.button--right{
  right: -100px;
}

.carousel-button img{
  width: clamp(1.75rem, 2vw, 3vw);
}

.carousel-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.carousel-indicator{
  border: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #0e151471;
  margin: 0 10px;
  cursor: pointer;
}

.carousel-indicator.current-slide{
  background: var(--secondary-color);
}

.is-hidden{
  display: none;
}


.carousel-text-holder{
  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.315);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  
  position: absolute;
  padding: 50px;
  top: 50px; 
  right: 55px;
  height: 83%;
  width: 24%;
  border-radius: 18px;
  transition: all 0.35s ease-in-out;
}

.carousel-text-holder:hover{
  transform: scale(1.02, 1.02);
}

.carousel-text-holder h1{
  color: var(--tertiary-color);
  font-size: 2.25rem;
  padding-bottom: 5%;
}

.carousel-text-holder p{
  color: var(--tertiary-color);
  font-size: 1.2rem;
}

@media (max-width: 1068px){
  .button--left{
    left: -40px;
  }
  
  .button--right{
    right: -40px;
  }

  .carousel-text-holder{
    right: 30px;
    width: 80%;

  }
}


/*------------------- boxes ---------------------- */

.dual-boxes{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  padding-top: 5%;
  gap: 2%;
  padding-bottom: 5%;
}

.info-box1{
  width: 39%;
  height: 95%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;

  filter: brightness(100%);
  color: var(--tertiary-color);
  
  position: relative;
}

.info-box2{
  width: 39%;
  height: 95%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;

  filter: brightness(100%);
  color: var(--tertiary-color);

  position: relative;
  
}


.info-box1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
  border-radius: 15px;
  transition: all 0.5s ease-in-out;

  position: relative;
}

.info-box2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
  border-radius: 15px;
  transition: all 0.5s ease-in-out;

  position: relative;
}

.info-box1 img:hover{
  filter: brightness(58%);
}

.info-box2 img:hover{
  filter: brightness(58%);
}

.txt-absolute{
  position: absolute;
  top: 15%;
  left: 15%;

}

.txt-absolute h1{
  padding-top: 3%;
  padding-bottom: 2%;
  font-size: clamp(10px, 8vw, 3rem);
  width: 90%;
}

.txt-absolute .faded2{
  color: var(--primary-color);
  letter-spacing: 3px;
  font-weight: 900;

}

.txt-absolute .text{
  font-size: 1.2rem;
  padding-bottom: 20%;
  width: 90%;
}

.txt-absolute a {
  margin-top: 60px;
  padding: 15px 40px;
  border: 1px solid var(--tertiary-color);
  border-radius: 22px;

  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-size: 1.2rem;
}

.txt-absolute a:hover{
  background-color: var(--primary-color);
  border-color: var(--fourth-color);
}

@media (max-width: 1068px){
  .dual-boxes{
    flex-direction: column;
    margin-top: 50%;
    gap: 5%;
    align-items: center;
    margin-bottom: 50%;
    height: 100vh
  }

  .info-box1{
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    filter: brightness(100%);
  
    color: var(--tertiary-color);
  }
  
  .info-box2{
    width: 90%;
    height: 100%;
  }
}

@media (max-width: 768px){
  .dual-boxes{
    flex-direction: column;
    margin-top: 60%;
    gap: 5%;
    align-items: center;
    margin-bottom: 60%;
    height: 100vh
  }

  .info-box1{
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    filter: brightness(100%);
  
    color: var(--tertiary-color);
  }
  
  .info-box2{
    width: 90%;
    height: 100%;
  }
}