*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bgColor{
  background-color: var(--secondary-color);
}

header{
  z-index: 1000;
  position: fixed;
  width: 100%;
  min-width: 66px;
  background-color: transparent;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5em;
}

header .logo{
  color: white;
  font-size: 1.75em;
  font-weight: 600;
  text-decoration: none;

}

header ul{
  position: relative;

}
header ul li{
  position: relative;
  list-style: none;
  float: left;
}

header ul li a{
  color: var(--tertiary-color);
  font-size: 1.1em;
  padding: 20px 25px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
}


header ul li a:focus,
header ul li a:hover {
  color: var(--primary-color);
}

header ul li a:focus:after,
header ul li a:hover:after {
  width: 100%;
  left: 0%;
}

header ul li a:after {
  content: "";
  pointer-events: none;
  top: 45px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--primary-color);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

header ul li a:hover::before{
  width: 99%;
}

header ul .li2 a{
  color: var(--fourth-color);
}

header ul li ul{
  position: absolute;
  left: 0;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.226);
  display: none;
  padding-top: 0px;
  padding-left: 15px;
}

header ul li:hover ul{
  display: block;
}

header ul li ul li{
  position: relative;
  width: 100%;
  top: 0;
}

header ul li ul li a:hover{
  color: var(--fourth-color);
}


@media(max-width: 900px){
  header{
    padding: 10px 20px;
  }

  header nav{
    position: absolute;
    width: 100%;
    top: 53px;
    left: 0;
    background-color: var(--secondary-color);
    display: none;
  }

  header.active nav{
    display: initial;
  }

  header nav ul li{
    width: 100%;
  }

  header ul li a:hover::before{
    width: 20%;
  }

  header nav ul li ul{
    position: relative;
    width: 100%;
    left: 0;
    background-color: var(--secondary-color);
  }

  header nav ul li ul{
    top: 0;
    left: 0;
  }

  .menuToggle{
    top: 26px;
    position: relative;
    width: 40px;
    height: 50px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
  }

  .menuToggle:before{
    content: " ";
    position: absolute;
    width: 70%;
    height: 3px;
    background-color: white;
    transform: translateY(-12px);
    box-shadow: 0 12px white;
    transition: all 0.2s ease;
  }

  .menuToggle:after{
    content: " ";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: white;
    transform: translateY(-12px);
    transition: all 0.2s ease;
  }

  header.active .menuToggle{
    top: 23px;
  }

  header.active .menuToggle::before{
    transform: rotate(45deg);
    box-shadow: 0 0 white;
    width: 100%;
  }

  header.active .menuToggle::after{
    transform: rotate(315deg);
  }
}