.arrows {
  width: 60px;
  height: 90px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: var(--tertiary-color);
  fill: transparent;
  stroke-width: 10px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}
    

h1 {
  color: var(--secondary-color);
  letter-spacing: 3px;
}

.hero-textbox{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 80vh;
  top: 0;
  gap: 15%;
}

.search{
  height: 110px;
  width: 50%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  

  background: #ffffff2a;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.315);
  backdrop-filter: blur(2px);
  transition: all 0.5s ease-in-out;
}

.search:hover{
  backdrop-filter: blur(20px);
}

.search h1{
  padding: 5px;
  padding-left: 8%;
  font-size: 1rem;
  color: var(--fifth-color);
  font-weight: 500;
  font-family: poppins;
}

.part3{
  background-color: pink;
}

.fixed2{
  width: 100%;
  overflow: hidden;
  height: 100vh;
}

.hero-video{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero-text{
  font-size: clamp(2rem, 8vw, 5rem);
  color: var(--secondary-color);
  font-family: Roboto;
}
