body{
  height: 3500px;
  padding-top: 0px;
  margin-top: 0px;
  background-color: var(--tertiary-color);
}

.part1{
  padding-top: 0px;
  background-color: var(--tertiary-color);
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15%;
  overflow: hidden;
  margin-bottom: 10%;
}

.main-text{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.border-bkg{
  padding: 50px;
  width: 100%;
  height: 50%;
  margin-left: 25%;
}

.faded{
  letter-spacing: 3px;
  color: var(--primary-color);
  font-size: 16px;
  padding-bottom: 2%;
  font-family: Mulish;
}

.m-text{
  color: var(--secondary-color);
  font-size: clamp(50px, 8vw, 100px);
  text-transform: uppercase;
  line-height: 1em;
  font-family: Roboto Slab;
  letter-spacing: 5px;
}

.mp-text{
  padding-top: 5%;
  color: var(--secondary-color);
  font-size: clamp(12px, 1vw, 24px);
  line-height: 30px;
  font-weight: 300;
  font-family: Mulish;
}

.heading-btns{
  padding-top: 10%;
  display: flex;
  width: 100%;
  justify-content: left;
  gap: 25%;

}

.heading-btn2{
  font-size: 1.2rem;
  border: 1px solid var(--secondary-color);
  padding: 2% 5%;
  border-radius: 28px;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  transition: all 0.5s ease;
  cursor: pointer;
}

.heading-btn2:hover{
  background-color: var(--tertiary-color);
  border-color: var(--secondary-color);
  color: var(--primary-color);
}

.hero-img{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.hero-box{
  margin-top: 25%;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}

.hero-box img{
  width: 100%;
  height: 80%;
  transition: all 0.5s ease;
}

.text-box{
  position: absolute;
  width: 100%;
  height: 30%;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  top: 70%;

  background: #0e15142a;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.315);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.text-box h1{
  padding-left: 5%;
  padding-bottom: 2%;
  color: var(--tertiary-color);
  font-family: Roboto Slab;
}

.text-box p{
  padding-left: 5%;
  color: var(--tertiary-color);
  font-family: Mulish;
}

@media (max-width: 768px){

  .part1{
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 350%;
  }

  .border-bkg{
    width: 90%;
    margin-bottom: 10%;
  }

  .heading-btns{
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .heading-btn1{

    margin-bottom: 5%;
    text-align: center;
  }
  
  .heading-btn2{
    margin-bottom: 5%;
    text-align: center;
  }

  .part1{
    width: 100%;
    flex-direction: column;
    gap: 1%;
  }

  .hero-img{
    width: 100%;
    height: 50%;
  
  }

  .main-text{
    height: 50%;
    width: 100%;
    padding-left: 0;
  }

  .hero-box{
    margin-top: 0%;
    width: 80%;
    height: 100%;
    border-radius: 16px;
    position: relative;
    margin-left: 10%;
  }

  .border-bkg{
    padding: 50px;
    width: 100%;
    height: 100%;
    margin-left: 0%;
    margin-top: 15%;
  }

  .heading-btns{
    padding-top: 5%;
  
  }

  .mp-text{
    padding-top: 5%;
    color: var(--secondary-color);
    font-size: clamp(12px, 1vw, 24px);
    line-height: 20px;
    font-weight: 300;
    font-family: Mulish;
  }

  .text-box{
    width: 100%;
    height: 30%;
  
    top: 60%;
    background: #0e151400;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);

  }
}


/* CARDS PART A */

.headA{
  margin-left: 10%;
  margin-bottom: 5%;
}

.headA h2{
  font-family: Roboto Slab;
  font-size: clamp(2rem, 5vw, 3.75rem);
  font-weight: 400;
  margin-bottom: 1%;
  color: var(--secondary-color);
}

.headA p{
  color: var(--secondary-color);
  font-size: clamp(12px, 1vw, 22px);
  font-weight: 300;
  font-family: Mulish;
}


.containerA {
  overflow: clip;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 80vh;
  background-image: var(--fifth-color);
  margin-bottom: 5%;
}

.category_containerA {
  --gapA: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: calc(var(--gapA) * 2);

  width: 80%;
  height: 100%;
}

.contentA {
  --activeA: 0;

  cursor: pointer;
  overflow: clip;

  position: relative;
  z-index: 10;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1.5rem;

  padding: 2.5rem;

  width: calc((100% / 3) - var(--gapA));
  height: 100%;

  border-radius: 1rem;

  transition: width 0.5s ease-in-out;
}
.contentA:hover {
  --activeA: 1;

  width: calc(70% - var(--gapA));
}
.contentA::before {
  content: "";

  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: var(--fifth-color);

  opacity: 0.6;
}

.contentA img {
  position: absolute;
  z-index: -20;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
}

.contentA .profile_imageA {
  opacity: calc(1 - var(--activeA));

  transition: opacity 0.3s ease-in-out;
}

.profile_detailA {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  width: 12rem;
  transition: transform 0.5s cubic-bezier(0.23, 0.93, 0.77, 1) 0.01s;
}

.profile_detailA span {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--Secondary-color);
  text-wrap: nowrap;
  font-family: Roboto Slab;
}

.profile_detailA p {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--secondary-color);
  font-family: Mulish;
}

.profile_quoteA {
  width: 22rem;
  transform: translate(0, calc((1 - var(--activeA)) * (100% + 2.5rem)));
}

.profile_quoteA p {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--secondary-color);
  font-family: Mulish;

  transform: translate(0, calc((1 - var(--activeA)) * (100% + 2.5rem)));

  transition: transform 0.5s cubic-bezier(0.23, 0.93, 0.77, 1) 0.1s;
}

.wrapperA {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 0.5s cubic-bezier(0.23, 0.93, 0.77, 1) 0.01s;
}

.profile_quoteA { 
  min-height: 0; 
  transform: translateY(50%);
  opacity: 0;
  transition: 
      opacity 0.8s ease-in-out,
      transform 0.8s cubic-bezier(0.23, 0.93, 0.77, 1) 0.01s
    ;    
}

.contentA:hover .wrapperA {
  grid-template-rows: 1fr;
}

.contentA:hover .profile_quoteA {
  transform: none;
  opacity: 1;    
}

.learn_moreA {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--tertiary-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.learn_moreA:hover {
  background-color: var(--fourth-color);
}

@media (max-width: 768px) {
  .containerA {
      padding: 1.5rem;
  }

  .category_containerA {
      flex-direction: column;
      gap: 1.5rem;
  }

  .contentA {
      width: 100%;
      height: auto;
      padding: 3.8rem;
      gap: 1rem;
  }

  .contentA:hover {
      width: 100%;
  }

  .profile_detailA {
      width: auto;
  }

  .profile_quoteA {
      width: auto;
      transform: none;
  }

  .profile_quoteA p {
      font-size: 1.25rem;
  }

  .contentA:hover .profile_quoteA {
      transform: none;
      opacity: 1;
  }

  .learn_moreA {
      align-self: center;
  }
}

@media (max-width: 480px) {
    .containerA {
        padding: 1rem;
    }

    .category_containerA {
        gap: 1rem;
    }

    .contentA {
        padding: 1rem;
        gap: 0.5rem;
    }

    .profile_detailA span {
        font-size: 1.25rem;
    }

    .profile_detailA p {
        font-size: 0.75rem;
    }

    .profile_quoteA p {
        font-size: 1rem;
    }

    .learn_moreA {
        padding: 0.5rem;
        font-size: 0.875rem;
    }
}

/* SECTION B */


.containerB {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 80vh;
}

.btext{
  width: 100%;
}

.contentB {
  padding: 5%;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contentB h1 {
  font-size: 36px;
  color: var(--secondary-color);
  font-weight: 700;
  margin-bottom: 10px;
  font-family: Roboto Slab;
}

.contentB p {
  font-size: 18px;
  margin: 20px 0;
  line-height: 1.6;
  font-family: Mulish;
}

.image-containerB {
  width: 45%;
}

.image-containerB img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: none; 
}

.image-containerB img.activeB {
  display: block; 
}

.accordionB {
  --anim-durB: var(--trans-dur);
  width: 100%;
}

.accordion__itemB {
  background-color: var(--fourth-color);
  transition: background-color var(--trans-dur);
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.accordion__item-btnB {
  background-color: transparent;
  cursor: pointer;
  list-style: none;
  outline: transparent;
  padding: 15px 20px;
  position: relative;
  text-align: left;
  width: 100%;
  transition: background-color var(--trans-dur), color var(--trans-dur);
  font-weight: 600;
  color: var(--secondary-color);
  font-family: Roboto Slab;
}

.accordion__item-btnB:hover,
.accordion__item-btnB:focus {
  color: var(--secondary-color);
  color: var(--secondary-color);
}

.accordion__item-btnB:before {
  content: " ";
  position: absolute;
  right: 150px; 
  color: var(--secondary-color);
  font-size: 20px;
  transition: transform 0.3s ease;
  font-family: Roboto Slab;
}

.accordion__item-btnB.collapsedB:before {
  transform: rotate(90deg); 
}

.accordion__item-btnB:before,
.accordion__item-btnB:after {
  background-color: currentColor;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  width: 10px;
  height: 2px;
  transition: transform var(--trans-dur) var(--ease-in-out);
}

.accordion__itemB[open] .accordion__item-btnB:after {
  transform: rotate(0);
}

.accordion__itemB.collapsingB .accordion__item-btnB:before {
  transform: rotate(90deg); 
}

.accordion__item-btnB:after {
  transform: rotate(-90deg);
}

.accordion__item-descB {
  color: var(--secondary-color);
  padding: 0 20px 15px;
  font-weight: 400;
  line-height: 1.6;
  font-family: Mulish;
}

.accordion__itemB:nth-child(2) {
    background-color: var(--fourth-color);
}

.accordion__itemB:nth-child(3) {
    background-color: var(--fourth-color);
}

.accordion__itemB:nth-child(4) {
    background-color: var(--fourth-color);
}

.accordion__itemB:nth-child(5) {
    background-color: var(--fourth-color);
}

.accordion__itemB[open] .accordion__item-btnB:after {
    transform: rotate(0);
}

.accordion__itemB.collapsingB,
.accordion__itemB.expandingB {
    overflow: hidden;
}

.accordion__itemB.expandingB .accordion__item-btnB:after {
    animation: accordion-minusB var(--anim-durB) var(--ease-out) forwards;
    transform: rotate(0);
}

.accordion__itemB.expandingB .accordion__item-descB {
    animation: accordion-fade-inB var(--anim-durB) var(--ease-out) forwards;
}

.accordion__itemB.collapsingB .accordion__item-btnB:after {
    animation: accordion-plusB var(--anim-durB) var(--ease-out) forwards;
    transform: rotate(-90deg);
}

.accordion__itemB.collapsingB .accordion__item-descB {
    animation: accordion-fade-slide-outB var(--anim-durB) var(--ease-out) forwards;
}

@keyframes accordion-minusB {
    from {
        transform: rotate(-90deg);
    }
    to {
        transform: rotate(0);
    }
}

@keyframes accordion-plusB {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-90deg);
    }
}

@keyframes accordion-fade-inB {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes accordion-fade-slide-outB {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-0.75em);
    }
}

@media screen and (max-width: 1268px) {
  .containerB {
    flex-direction: column;
    width: 100%;
    margin-top: 45%;
  }

  .contentB {
    margin-right: 0;
    width: 100%;
  }

  .accordion__item-btnB {
    padding: 15px;
  }

  .image-containerB {
    margin-top: 0px;
    width: 90%;
    height: 70%;
  }
}


/*3rd part*/
.part3{
  margin-top :5%;
  margin-bottom: 5%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 100%;
  height: 65vh;

  display: flex;
  justify-content: center;
}

.part3-section{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.list{
  margin-top: 50px;
}

.list .list2{
  width: 100em;
  margin: 2% 0;
  color: var(--secondary-color);
  border: solid 1px var(--secondary-color);
  padding: 20px;
  transition: all 0.5s;
}

.list .list2 a{
  text-decoration: none;
  color:var(--secondary-color);
  font-size: 1.2rem;
  font-family: Mulish;
}

.list .list2:hover{
  transform: scale(1.06);
}

.text3{
  color:var(--secondary-color);
  font-size: 2rem;
}

.text-box3{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto Slab;
}

@media screen and (max-width: 1768px) {
  .list .list2{
    width: 70em;

  }
}

@media screen and (max-width: 1368px) {
  .list .list2{
    width: 60em;

  }
}

@media screen and (max-width: 1268px) {
  .list .list2{
    width: 50em;

  }

  .part3{
    margin-top :25%;
    margin-bottom: 5%;
  }

}

@media screen and (max-width: 768px) {
  .list .list2{
    width: 20em;

  }

  .part3{
    margin-top :55%;
    margin-bottom: 5%;
  }

  .text-box3{
    margin-left: 15%;
  }
  
}